.grow:hover {
    transition: 0.3s ease-in;
    /*opacity: 0.5;*/
    scale: 105%;
    /*background-color: black;*/
}

.topnav {
    /*margin-bottom: 10px;*/
    /*text-align: center;*/
}

.topnav a {
    font-size: 3vw;
    margin-left: 20px;
    margin-right: 20px;
    /*color: mintcream;*/
    /*font-family: navfont, serif;*/
    /*background: none;*/
}

.glow:hover {
    webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

/*!* Fading animation *!*/
/*.fade {*/
/*    animation-name: fade;*/
/*    animation-duration: 1.5s;*/
/*}*/

/*@keyframes fade {*/
/*    from {opacity: .4}*/
/*    to {opacity: 1}*/
/*}*/


/* Glow affect */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #f2f2f2;
    }
    to {
        text-shadow: 0 0 10px #f2f2f2;
    }
}

@-webkit-keyframes glow1 {
    from {
        text-shadow: 0 0 5px #00bfd4;
    }
    to {
        text-shadow: 0 0 10px #00bfd4;
    }
}