#main-logo {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/*Navigation bar*/
nav {
    font-size: 50px;
    text-align: center;
}

a {
    font-family: starjedi, sans-serif;
    color: yellow;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: white;
}

/*Search bar*/
form {
    text-align: center;
    display: flex;
}

#search-bar {
    font-family: starjout, sans-serif;
    font-size: 25px;
    color: white;

    height: 25px;
    width: 100%;
    background-color: #343434;

    border: 5px solid #343434;
    border-radius: 8px;

    outline: none;
}

/*Body*/
body {
    padding-left: 80px;
    padding-right: 80px;
    color: white;

    background-image: url('../img/stars_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: yellow;
}

@font-face {
    font-family: starjedi;
    src: url(../fonts/Starjedi.ttf);
}

@font-face {
    font-family: starjout;
    src: url(../fonts/Starjout.ttf);
}