/*Navigation bar*/
nav {
    font-size: 50px;
    text-align: center;
}

a {
    font-family: starjedi, sans-serif;
    color: yellow;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: white;
}

/*Search bar*/
form {
    text-align: center;
}

.text_input {
    font-size: 25px;
    font-family: starjout, sans-serif;
    height: 25px;
    width: 90%;
}

/*Body*/
body {
    color: white;

    background-image: url('../img/stars_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: yellow;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: starjedi;
    src: url(../fonts/Starjedi.ttf);
}

@font-face {
    font-family: starjout;
    src: url(../fonts/Starjout.ttf);
}